@font-face {
    font-family: "Nanum Gothic";
    src: url('../../assets/NanumGothic-Regular.woff') format('woff');
}

@font-face {
    font-family: "Open Sans";
    src: url('../../assets/OpenSans-Regular.woff') format('woff');
}
