h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
    padding-bottom: 2.5rem;
}

a {
    color: blue;

    span,
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: black;
    }
}

p {
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

li {
    font-size: 2rem;
}

@media screen and (max-width: $screen-size-sm) {
    h2 {
        font-size: 2.6rem;
    }
    p,
    li,
    a,
    span {
        font-size: 1.8rem;
    }
}
