$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem;
$margin-extra-large: 4rem;

$color-black: rgb(32, 36, 36);
$color-green: rgb(8, 196, 80);
$color-blue: rgb(46, 116, 221);
$color-orange: #f80;
$color-red: red;
$color-yellow: yellow;

$border-small: 0.3rem solid rgb(32, 36, 36);
$border-medium: 0.6rem solid rgb(32, 36, 36);

$screen-size-sm: "640px";
$screen-size-md: "768px";
